:root {
    --blue: #1F5EB3;
    --yellow: #FFD944;
    --bg: #f5f5f5;
    --font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font);
    background: var(--bg);
}

/* HEADER */
header {
    background: var(--blue);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 90px 20px;
}

.hero h2 {
    font-size: 32px;
}

.btn {
    background: var(--yellow);
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
    display: inline-block;
}

/* FORM */
.form-section {
    width: 60%;
    margin: 40px auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* FOOTER */
footer {
    background: var(--blue);
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}
